<div
  class="flex flex-col gap-2"
  data-checkout-buttons
>
  {% if store.settings.general.availability.closed_now %}
    <button
      class="btn btn-filled btn-lg w-full"
      disabled
    >
      {{ _("Store is closed") }}
    </button>
  {% elif session.is_guest %}
    <a
      href="/auth/login?redirect_to=/checkout"
      class="btn btn-filled btn-lg w-full"
      data-action="login"
      data-redirect="/checkout"
      data-add-to-url="false"
    >
      {{ _("Checkout") }}
    </a>
  {% else %}
    <a
      href="/checkout"
      class="btn btn-filled btn-lg w-full"
    >
      {{ _("Checkout") }}
    </a>
  {% endif %}
  {{ template_for_cart_apple_pay_button }}
</div>
