{% if options %}
  {% with options=options, product=product, style=style|default('dropdown') %}
    {% include 'components/products/headless/options/variant-options.jinja' %}
  {% endwith %}
{% endif %}
